body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.todo-item {
  position: relative;
  border: 1px solid #9eb;
  background-color: #bfd;
  margin: 2px 5px;
  padding: 2px 5px;
  border-radius: 2px;
  box-shadow: 1px 1px #ddd;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.not-done {
  border: 1px solid #eb9;
  background-color: #fdb;
}

.todo-item + .todo-item {
  margin-top: 5px;
}

.todo-list {
  margin: 10px;
  padding: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header .add-element {
  background-color: #976;
  border: 1px solid #865;
  box-shadow: 1px 1px #ddd;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}

header .add-element:hover {
  background-color: #865;
  border: 1px solid #754;
}

header .add-element:active {
  background-color: #865;
  border: 1px solid #754;
  margin-bottom: 0px;
}

header .add-element:focus {
  outline: 0;
}

.remove-element {
  position: absolute;
  right: -1px;
  top: -5px;
  transform: rotate(45deg);
  color: #999;
  font-size: 20px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

.remove-element:hover {
  color: #555;
}

.remove-element:active {
  top: -4px;
}

.remove-element:focus {
  outline: 0;
}

.todo-data {
  flex-grow: 1;
}
