body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 3px 20px;
  background-image: linear-gradient(to right, #8a2, #9b2);
  color: white;
  border-bottom: 1px solid #791;
  border-top: 1px solid #bd4;
}

main {
  background-color: #eee;
  max-height: 100%;
  overflow-y: auto;
  padding: 10px 20px;
  box-sizing: border-box;
}

footer {
  font-size: 0.7rem;
  padding: 3px 5px;
  background-color: #444;
  color: white;
}

.app-container {
  height: 100vh;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto min-content;
}

.login {
  cursor: pointer;
  user-select: none;
  margin-bottom: 2px;
}

.login:hover {
  color: #444;
}

.login:active {
  margin-top: 2px;
  margin-bottom: 0;
}

.login-container {
  display: flex;
}

.username {
  margin-right: 10px;
  color: #444;
  font-weight: 700;
}
